.accordion {
  --bs-accordion-active-bg: white !important;
  --bs-accordion-btn-focus-box-shadow: nune;
}

.firstBlock {
  width: 100%;
  /* height: 100%; */
  padding-bottom: 20px;
  background: linear-gradient(to right, rgb(233, 235, 238), rgb(241, 228, 190)) !important;
}


.thirdBlock {
  width: 100%;
  /* height: 100%; */
  padding-bottom: 20px;
  background: linear-gradient(to left, rgb(229, 252, 252), rgb(255, 255, 255)) !important;
}